body {
  background-color: #7E9078;
}
.mb-3 {
  width: 25%;
  margin-left: 30px;
}
.results {
  display:none;
  background-color: #7E9078;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  width: 25%;
  height: 150px;
  position: fixed;
  top: 250px;
  right: 200px;
}
.container {
  background-color:white;
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
}

.btn-info {
  background-color: #8F7D77;
  color: white;
}
#header {
  background-color: #77898F;
  color: black;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  border: 1px solid black;
}